/* styles.css */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: darkmagenta;
    background-color: #f4f4f4;
    background: linear-gradient(217deg, rgba(255,0,0,.7), rgba(255,0,0,0) 70%),
    linear-gradient(127deg, rgba(55,200,200,.8), rgba(55,200,200,0) 70%),
    linear-gradient(336deg, rgba(0,0,255,.9), rgba(0,0,255,0) 70%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.screen {
    padding: 20px;
}

form {
    display: inline-block;
    margin-top: 25px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: blue;
    background: red;
    transition: 1s ease, transform 1s ease;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: blue;
}

line {
padding: 5px;
}